<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous">

@{
    ViewData["Title"] = "About Us";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<section class="my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <img src="~/images/team-image.jpg" alt="Team Image" class="img-fluid rounded mb-3">
            <p class="image-credit text-center">Photo by Chang Duong on <a href="https://unsplash.com/photos/silhouette-photo-of-six-persons-on-top-of-mountain-Sj0iMtq_Z4w?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 box-shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Yasaman Mirvahabi Sabet</h5>
                    <p class="card-text">ID: 101217770</p>
                    <p class="card-text">
                        <a href="https://github.com/YasamanMVS" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="mailto:Yasaman.MirvahabiSabet@georgebrown.ca"><i class="fas fa-envelope"></i></a>
                    </p>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Dilara Yalniz</h5>
                    <p class="card-text">ID: 101376617</p>
                    <p class="card-text">
                        <a href="https://github.com/di1ara" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="mailto:dilara.yalniz@georgebrown.ca"><i class="fas fa-envelope"></i></a>
                    </p>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Dorsa Muhammadi</h5>
                    <p class="card-text">ID: 101397591</p>
                    <p class="card-text">
                        <a href="https://github.com/dorsa2001" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="mailto:Dorsa.Mohammadi@georgebrown.ca"><i class="fas fa-envelope"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



